/* font-family: 'Architects Daughter', cursive;*/

* {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    
}

body {
    background-color: #ea9a97;
}

.container {
    display: inline-grid;
    height: 100vh;
    grid-template-columns: 20rem auto;
    grid-template-rows: 5rem 5rem 100vh;
    grid-template-areas: 
        "header" "button1" "button2";
}

.header {
    padding-left: 50px;
    grid-area: header;
    display: flex;
    align-items: flex-end;
    background-color: #3e8fb0;
}

.button1 {
    grid-area: button1;
    background-color: #3e8fb0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    display: flex;
    grid-area: button2;
    background-color: #3e8fb0;
    justify-content: center;
}

.contacts {
    display: inline-grid;
    padding-left: 100px;
    height: 100vh;
    grid-template-columns: 10rem 12rem 10rem auto;
    grid-template-rows: 5rem 5rem 5rem auto;
    grid-template-areas: 
        "item1" "item2" "item3";
    gap:10px;
}

.item1 {
    grid-area: item1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    background-color: #3e8fb0;
    padding: 25px;
}

.item2 {
    grid-area: item2;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    background-color: #3e8fb0;
    padding: 25px;
}

.item3 {
    grid-area: item3;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    background-color: #3e8fb0;
    padding: 25px;
}

.newcontact {
    display: inline-grid;
    padding-left: 50px;
    grid-template-columns: 15rem 15rem auto;
    grid-template-rows: 4rem 3rem 3rem 3rem 3rem auto;
    grid-template-areas: 
        "image" 
        "name"
        "phone" "plus1"
        "address" "plus2"
        "email" "plus3"
        "save" "cancel";
    gap:10px;
}

.image {
    grid-area: image;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.plus1 {
    font-size: 30px;
    grid-area: plus;
    grid-column: 2;
    grid-row: 3;
    align-self: center;
}

.plus2 {
    font-size: 30px;
    grid-area: plus;
    grid-column: 2;
    grid-row: 4;
    align-self: center;
}

.plus3 {
    font-size: 30px;
    grid-area: plus;
    grid-column: 2;
    grid-row: 5;
    align-self: center;
}

.name {
    grid-area: name;
    grid-row: 2;
    align-self: center;
}

.phone {
    grid-area: phone;
    grid-row: 3;
    align-self: center;
}

.address {
    grid-area: address;
    grid-row: 4;
    align-self: center;
}

.email {
    grid-area: email;
    grid-row: 5;
    align-self: center;
}

.save {
    grid-area: save;
    grid-row: 6;
    justify-self: flex-start;
    align-self: center;
}

.cancel {
    grid-area: cancel;
    grid-row: 6;
    justify-self: flex-end;
    align-self: center;
    width: 50%;
}

.fav {
    display: inline-grid;
    padding-left: 50px;
    grid-template-columns: 12rem auto;
    grid-template-rows: 4rem 2rem 2rem 2rem 4rem 3rem auto;
    grid-template-areas: 
        "image" 
        "favname"
        "favemail"
        "favcell"
        "favaddress"
        "edit" "close";
    gap:10px;
    align-items: center;
}

.favname{
    grid-area: favname;
}

.favemail {
    grid-area: favemail;
}

.favcell {
    grid-area: favcell;
}

.favaddress {
    grid-area: favaddress;
}

.edit {
    grid-area: edit;
    grid-row: 6;
    justify-self: flex-start;
}

.close {
    grid-area: close;
    grid-row: 6;
    justify-self: center;
}